.EventListItemContainer {
    display: flex;
    padding: 20px;
}

.EventListItemTitle {
    margin: 0;
    margin-top: 5px;
}

.EventListItemTitle a {
    text-decoration: none;
    color: var(--darkgray);
    font-weight: bold;
}

.EventListItemInfo {
    flex-grow: 1;
    flex-basis: 0;
}

.EventInformation p {
    line-height: 1.25;
    margin-bottom: 4px;
    font-size: 11px;
}

.EventListItemDate {
    color: var(--darkgray);
    font-size: 14px;
    font-weight: 600;
    width: 65px;
}
.EventListDateView {
    padding: 5px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-top: 7px;
}

.EventListDayData {
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.EventListTimeData,
.EventListItemDesc span {
    margin-top: 2px;
}
.EventListItemDesc {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
}
.EventListItemDesc span {
    flex-grow: 1;
    flex-basis: 0;
}

.EventListItemEventType {
    display: inline-block;
    margin-top: 0;
    background-color: var(--lightgray);
    border: 1px solid var(--lightgray);
    border-radius: 4px;
    padding: 4px 5px;
    letter-spacing: 0.5px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 10px;
    color: var(--darkgray);
}
.EventListItemEventTypeStory {
    color: var(--event-type-story);
}
.EventListItemEventTypeAction {
    color: var(--event-type-action);
}

.EventListIcon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 2px;
    display: inline-block;
    text-align: center;

    opacity: 0.6;
}
.EventListDateData {
    font-size: 24px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 800;
}

.EventListMonthData {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #333;
    /* text-shadow: 0px 1px 1px rgba(0,0,0,0.2); */
}

#maps-for-all-content .event-list-item-container .event-list-item-type span {
    border-radius: 4px;
    display: inline-block;
    background-color: var(--lightgray);
    border: 1px solid var(--lightgray);
    margin-bottom: 0.3em;
    padding: 2px 5px 0;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: var(--sans-serif);
    font-size: 10px;
}

#maps-for-all-content .event-list-item-container .event-list-item-cta a.event-list-item-cta-btn {
    background-color: transparent;
    border-color: var(--blue);
    border-width: 2px;
    border-style: solid;
    color: var(--blue);
    text-decoration: none;
    margin-top: 5px;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 800;
}

#maps-for-all-content .event-list-item-container .event-list-item-cta a.event-list-item-cta-btn:hover {
    color: white;
    background-color: var(--blue);
}

.EventListItemContent {
    display: block;
}

.EventListItemSingleContent {
    --content-max-height: 100px;
    position: relative;
    display: block;
    max-height: var(--content-max-height);
    overflow: hidden;
}
.EventListItemSingleContent *:last-child {
    margin-bottom: 0;
}
.EventListItemSingleContent::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* Max out at 50px height, since the parent is max-height 200px.
     * This means a parent less than 200px is fully viewable without this fade-out element.
     */
    height: calc(100% - (calc(var(--content-max-height) - 50px)));
    pointer-events: none;
    background: linear-gradient(180deg, transparent 0%, whitesmoke 90%);
}

.EventListItemSingleContent img,
.EventListItemSingleContent figure {
    display: none;
}
