.EventListItem {
    /* border-bottom: 1px dashed gray; */
    font-family: var(--sans-serif);
    border-left: 4px solid gray;
    margin-top: 5px;
    margin-bottom: 3px;
    background-color: whitesmoke;
    width: calc(100% - 5px);
}

.EventListItem:first-child {
    margin-top: 0;
}

.EventListItem:last-child {
    margin-bottom: 0;
}
