.EventListContainer {
    border-top: 1px solid var(--gray);
    flex-grow: 1;
    background-color: var(--event-list-background);
    overflow: auto;
    display: flex;
    -webkit-overflow-scrolling: touch;
}

.EventList {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    vertical-align: baseline;
}

.EventListNull {
    padding: 20px;
}

.EventListNullText {
    margin-top: 0;
    font-family: var(--sans-serif);
    font-size: 17px;
    font-weight: 400;
    line-height: 1.15;
}

.EventListNullButton {
    padding: 5px 16px;
    border: none;
    font-family: var(--sans-serif);
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    background-color: var(--button-background-color);
    color: var(--darkgray);
    border-radius: 4px;
    cursor: pointer;
}
