.SearchContainer {
    background-color: var(--bluish-gray);
    font-family: var(--sans-serif);
}
.SearchContainerLoading {
    height: 94px;
}

.SearchViewport {
    padding: 10px;
    position: relative;
}

.SearchForm {
    display: flex;
    align-items: stretch;
}
.SearchForm:empty {
    height: 38px;
}

.SearchForm .search-input {
    position: relative;
    flex-grow: 1;
}

.SearchTextContainer {
    width: 100%;
}

.SearchText {
    display: block;
    width: 100% !important;
    max-width: none !important;
    line-height: 1.5;
    color: var(--dark-gray);
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid var(--lightgray);
    border-radius: 4px 0 0 4px;
    border-radius: 4px;
    text-align: center;
    font-weight: 800;
    font-family: var(--sans-serif);
    box-shadow: none;
}

.SearchButton {
    border-radius: 0 4px 4px 0;
    background-color: var(--blue);
    color: white;
    padding: 6px 10px 4px;
    text-decoration: none;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    display: flex;
    border: 1px solid var(--blue);
    font-family: var(--sans-serif);

    &:hover {
        color: white;
    }
}

.FilterForm ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 5px 10px;
    list-style: none;
}
.FilterForm ul:empty {
    height: 26px;
}

.FilterForm ul li {
    margin: 0 2px 0 0;
    border-radius: 4px;
    border: 1px solid var(--lightgray);
}

.FilterForm ul li label {
    font-size: 10px;
    text-transform: uppercase;
    font-family: var(--sans-serif);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.FilterForm ul li input {
    display: none;
}

.FilterForm ul li input + label {
    padding: 4px;
    color: gray;
}

.FilterForm ul li input:checked + label {
    display: flex;
    align-items: center;
    font-weight: 800;

    /* background-color: var(--blue); */
    background-color: transparent;
    color: var(--darkgray);

    /* color: blue; */
}

.FilterForm ul li input + label .event-check {
    display: none;
}

.FilterForm ul li input:checked + label .event-check {
    display: block;
}

.FilterForm .EventFilterIcon {
    margin-right: 4px;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #555;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: 0.5;
}

.FilterForm .EventFilterIconAction {
    background-color: var(--event-type-action-tint);
}

.FilterForm .EventFilterIconStory {
    background-color: var(--event-type-story-tint);
}

.FilterForm ul li input:checked + label .EventFilterIcon {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    opacity: 1;
}
