@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Zilla+Slab:400,600,700);

:root {
    --blue: #e35c04;
    --lightgray: lightgray;
    --button-background-color: #d7d6d7;
    --gray: #ccced0;
    --bluish-gray: #eaedef;
    --event-list-background: whitesmoke;
    --darkgray: rgba(21, 35, 45, 0.8);
    /* --sans-serif: 'Montserrat', sans-serif; */
    --sans-serif: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    --light-blue: rgba(68,0,153,.1);
    --highlight: #ff430f;
    --event-type-story: #2422bb;
    --event-type-action: #e35c04;
}
